 @import "bourbon", "bitters/base";
 @import "../node_modules/vue-good-table/src/styles/style.scss";

 [v-cloak] > * { opacity: 0; }
 [v-cloak]::before { content: "loading…" }

 * {
    transition: opacity 0.5s ease;
    opacity: 1;
 }

 
 .wrapper {
    $blue:#05051E;
    $blue-light:#1FC7FF;
    $blue-dark:#053C7A;
    $green:#BBE976;
    $red:#FF4D35;

    background-color: $blue;

    > header{
        background-color: $blue;
        display: flex;
        gap:1em;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        nav {
            display: flex;
            align-items: center;
            align-items: center;
            justify-content: center;
            gap: 1em;
            flex:1;
            .home {
                display: block;
                height: 40px;
                width: 40px;
                border-radius: 100px;
                border:1px solid #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 50%;
                }
                &.active {
                    border:2px solid $blue-light;
                }
            }
            a{
                text-decoration: none;
                &.active, &:hover  {
                    color:$blue-light
                }
            }
            li {
                position: relative;
                ul.sub {
                    display: none;
                    // background: $blue;
                    position: absolute;
                    left: 0;
                    top: 1em;
                    padding-top: 1em;
                    li {
                        background: $blue-dark;
                        padding: 0.5em;
                        line-height: 1em;
                        a:hover {
                            color:$blue-light;
                        }
                    }
                }
                &:hover {
                    ul.sub {
                        display: block;
                        width: 200px;
                        z-index: 999;
                    }
                }
            }
        }
        .meta {
            display: flex;
            align-items: center;
            .brand_logo{
                // padding-right: 2em;
                // border-right: 1px solid #fff;
                img {
                    max-height: 50px;
                }
            }
            .user {
                padding-left: 2em;
                display: flex;
                align-items: center;w
                .user_box {
                    border-radius: 10px;
                    border:1px solid #fff;
                    padding: 0.5em 1em;
                    display: flex;
                    align-items: center;
                    gap:1em;
                    .face {
                        border-radius:100px;
                        border:1px solid $blue-light;
                        background-size: cover;
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }

    main {
        max-width: 1400px;
        margin: auto;
        padding: 1em;
        background-image: linear-gradient(rgba($blue,65%), rgba($blue,65%)), url(../img/bg.webp);
        backdrop-filter: blur(64px);
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        min-height: calc(100vh - 88px);

        .dropdown_wrap{
            display: flex;
            flex-wrap: wrap;
            gap:2em;
            align-items: center;
            margin-bottom: 1em;
            .dropdown {
                select {
                    width: 200px;
                    outline:none;
                    border:1px solid #fff;
                    background-color: $blue;
                    border-radius:10px;
                    padding: 1em 0.5em;
                    color: #fff;
                }
            }
        }

        .block_wrap {
            display: grid;
            grid-gap:2em;
            .block {
                padding: 1em 0;            
                &:not(.no-outline){
                  padding: 1em;            
                  border:1px solid $blue-dark;
                  border-radius:10px;
                  background-color: #05051E;  
                }
                h3 {
                    font-size: 1.25em;
                    font-weight: 100;
                }
                .sub_block_wrap {
                    display: flex;
                    flex-wrap: wrap;
                    gap:1em;
                    .sub_block {
                        flex:1;
                        &.full {
                            width: 100%;
                            flex:auto;
                        }
                        .stats_wrap{
                            display: flex;
                            flex-wrap: wrap;
                            gap:1em;
                            .stat {
                                flex:1;
                                padding: 1em;
                                border: 1px solid #022257;
                                border-radius: 8px;
                                background: linear-gradient(251.61deg, rgba(1, 18, 46, 0) 1.13%, rgba(2, 34, 87, 0.43) 53.11%);
                                border-radius:10px;
                                h4 {
                                    font-size: 1em;
                                    font-weight: 700;
                                }
                                .num_wrap {
                                    display: flex;
                                    gap:5px;
                                    align-items: center;
                                    .num {
                                        font-size: 2.5em;
                                        line-height: 1em;
                                    }
                                    .change_wrap {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        font-size: 0.8em;
                                        .change {
                                            color:#BBE976;
                                            line-height: 1em;
                                            &.neg {
                                                color:#FF4D35;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .chart_wrap {
                display: grid;
                grid-gap: 1em;
                .chart {
                    width: 100%;
                    height: 400px;
                }
                canvas {
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            @media screen and (min-width:768px) {
                &:not(.full){
                    grid-template-columns: 1.5fr 1fr;
                    .right {
                        grid-row: 1/5;
                        grid-column: 2;
                    }
                }
            }
        }
    }

    .vgt-inner-wrap{
        border:1px solid $blue-dark;
        overflow: hidden;
        // padding-top: 1em;
        border-radius: 10px;
        .vgt-global-search,
        .vgt-wrap__footer {
            border:0;
            background: $blue;
            padding: 1em 1em .5em;
            input {
                max-width: 300px;
                background-color: #fff;
                color:$blue;
                // border:1px solid $blue-light;
            }
        }
        .vgt-wrap__footer {
            color:#fff;
            select {
                color:$blue-light;
            }
        }
        .vgt-table, .thead {
            background: $blue;
            border:0;
            tr,td,th {
                background: transparent;
                border:0;
                color:inherit;
                border-top:1px solid $blue-dark;
                border-bottom:1px solid $blue-dark;
            }
            .mom {
                color:$green;
                &.red {
                    color:$red;
                }
            }
            .url {
                width: 400px;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color:$blue-light;
            }

            .tag_wrap {
                display: flex;
                flex-wrap: wrap;
                grid-gap: 0.5em;
            }

            .tag {
                background-color: #fff;
                display: inline-block;
                border-radius:25px;
                padding:0.5em;
                color:$blue;
                line-height: 1em;
                font-size: 0.9em;
                &.add-new {
                    background-color: $blue-light;
                    color:$blue;
                    a {
                        color:inherit;
                        text-decoration: none;
                        &:hover {
                            color:#fff
                        }
                    }
                }
            }
        }

        .vgt-global-search__input .input__icon .magnifying-glass {
            border-color:$blue-light;
            &:before {
                background:$blue-light;
            }
        }
    }
 }
